<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contrat Thuasne Services</title>
        <script>
            /* page counter */
            function subst() {
                var vars={};
                var x=document.location.search.substring(1).split('&');
                for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
                var x=['topage','page'];
                for (var i in x) {
                    var y = document.getElementsByClassName(x[i]);
                    for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
                }
            }
        </script>
    </head>
    <body onload="subst()">
        <footer>
       
         <table style="width: 100%;"> 
              <hr>

             <tr>
               <td  style="float: left;font-size: 14px;color: #8c8e91;">
                   <a> Contact Proxym – Adel NAILI– 06 35 46 84 26 </a></td>
               <td style="float: right; color: #1E8BC3; font-size: 14px;">   <a><b><span class="page"></span>/<span class="topage"></span></b></a></td>
            </tr>
        </table>
    </footer>
    </body>
</html>